:root{
    --c1 : pink;
    --c2 : lightblue;
    --c3 : black;
    --c4 : white;
    --theme : light;
}
body div{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c2);
}
.box{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: var(--c1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c3);
}

.para{
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--c2);
    color: var(--c3);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--c3);
}
.changeColor{
    background-color: var(--c3);
    color: var(--c4);
}